___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} Ï€r^3$$</p>

In [ ]:
def vol(rad):
    return rad**3*3.14*4/3

In [ ]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [ ]:
def ran_check(num,low,high):
    if num in range(low,high+1):
      print(f'{num} is in the range between {low} and {high}')

In [ ]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

If you only wanted to return a boolean:

In [ ]:
def ran_bool(num,low,high):
    return num in range(low,high+1)

In [ ]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [ ]:
def up_low(s):
    low_count=0
    upp_count=0
    for letter in s:
      if letter.islower():
        low_count+=1
      if letter.isupper():
        upp_count+=1
    print(f'No. of Upper case characters : {upp_count}')
    print(f'No. of Lower case characters : {low_count}')

In [ ]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of Upper case characters : 4
No. of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [ ]:
def unique_list(lst):
    return list(set(lst))

In [ ]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [ ]:
def multiply(numbers):  
    pdt = 1
    for num in numbers:
      pdt*=num
    return pdt

In [ ]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a word or phrase is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam,kayak,racecar, or a phrase "nurses run". Hint: You may want to check out the .replace() method in a string to help out with dealing with spaces. Also google search how to reverse a string in Python, there are some clever ways to do it with slicing notation.

In [ ]:
def palindrome(s):
    return s.replace(" ","")==s.replace(" ","")[::-1]

In [ ]:
palindrome('malayalam')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [32]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    for letter in alphabet:
      if letter not in str1.replace(" ",""):
        return False
    return True

In [33]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [ ]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!